<div class="search-bar">
<div class="right-side-bar align-items-center d-flex">
  <p class="bar-text"> مبيعات التذاكر</p>
  <div class="search-input">
    <img class="mx-1" src="assets/Images/search-normal.png" alt="">
    <p class="input-text d-inline">بحث عن..</p>
  </div>
  <div class="search-bar-icon d-flex">
    <div class="setting-icon">
      <img src="assets/Images/setting-4.png" alt="">
    </div>
    <div class="arrow-icon">
      <img src="assets/Images/arrow-3.png" alt="">
    </div>
  </div>
</div>
<div class="left-side-bar d-flex align-items-center ">
  <img src="assets/Images/Toggle.png" alt="">
  <p class="left-side-text"> مفعلة </p>
  <button class="booking-button">
    <p class="button-text">حجز تذكرة جديدة</p>
  </button>
</div>
</div>
