<div class="reectangle">
  <div class="whole-upper-chart">
    <div class="chart-head">
      <p class="chart-head_upper">إحصائيات إستخدام القسيمة</p>
      <p class="chart-head_lower chart-head_lower__ar">
        <span class="chart-head_lower__en">05</span> يوليو ,<span
          class="chart-head_lower__en"
          >2023 - 05</span
        >
        أغسطس , <span class="chart-head_lower__en">2023</span>
        <img class="px-3" src="assets/Images/Vector.png" alt="" />
      </p>
    </div>
    <div class="left-chart">
      <div class="left-chart_upper">
        <span class="left-chart_upper__text" >سنويا </span><img src="assets/Images/arrow-rightt.png" alt="" />
      </div>
    </div>
  </div>
  <div class="chart-bg-holder">
    <img class="chart-img-bg" src="assets/Images/Line 2.png" alt="" />
    <img class="chart-img-bg" src="assets/Images/Line 2.png" alt="" />
    <img class="chart-img-bg" src="assets/Images/Line 2.png" alt="" />
    <img class="chart-img-bg" src="assets/Images/Line 2.png" alt="" />
    <img class="chart-img-bg" src="assets/Images/Line 2.png" alt="" />
    <img
      class="gradient-bg"
      src="assets/Images/Line Gradient.png"
      alt=""
    />
    <img class="line-bg" src="assets/Images/Line Flow.png" alt="" />
    <span class="toltip-hover">
      <img
        class="arrow-bg"
        src="assets/Images/Indicative Element.png"
        alt=""
      />
      <span class="chart-toltip">
        250 استخدام<br />
        <span class="growth-indicator-text"
          ><img src="assets/Images/Growth Indicator.png" alt="" />1.3%
        </span>
      </span>
    </span>

    <div class="chart-months">
      <ul class="chart-months_list">
        <li>يناير</li>
        <li>فبراير</li>
        <li>مارس</li>
        <li>ابريل</li>
        <li>مايو</li>
        <li>يونيو</li>
        <li>يوليو</li>
        <li>أغسطس</li>
        <li>سبتمر</li>
        <li>أكتوبر</li>
        <li>نوفمبر</li>
        <li>ديسمبر</li>
      </ul>
    </div>
  </div>
</div>
