<div class="table-responsive-xl">
  <table class="table taable table-hover text-center">
    <thead>
      <tr>
        <th  class="table-head" scope="col">#</th>
        <th class="user-head table-head" colspan="2" scope="col">المستخدم</th>
        <th class="table-head" scope="col">رقم التذكرة</th>
        <th class="table-head d-flex" scope="col"> قيمة التذكرة
          <span class="d-flex align-items-center">
            <img src="assets/Images/arrow-3.png" alt="">
          </span>
        </th>
        <th class="table-head" scope="col">السينمات</th>
        <th class="table-head" scope="col">عدد الاشخاص</th>
        <th class="table-head" scope="col">عدد مرات الشراء</th>
        <th class="ticket-head table-head"scope="col">التذكرة</th>
      </tr>
    </thead>
    <tbody>
      <tr class="">
        <th class="table-num" scope="row">1</th>
        <td>
          <div class="w-100 h-100 position-relative">
            <div class="user-img first-user position-absolute"></div>
             <div class="user-img_text position-absolute">Ma</div>
          </div>
        </td>
        <td>
          <div class="user-upper_cap">احمد محمود</div>
          <div class="user-lower_cap ">0123456789</div>
        </td>
        <td class="en-font">c-101</td>
        <td class="en-font">$40</td>
        <td class="ar-font">سينما مصر , <span class="td-hide">مول العرب , برج الأطنان , سرايا القبة</span>
          <span class="toltip">
            <span class="toltip_text">صيدناوي مول برج العرب</span>
            <span>...</span>
          </span>
        </td>
        <td class="en-font">1</td>
        <td class="ar-font">مرة واحدة</td>
        <td>
          <div class="position-relative w-100 h-100">
            <div class="ticket-icon position-absolute">
              <img class="w-100" src="assets/Images/ticket-2.png" alt="ticket icon">
            </div>
            <div class="ticket-upper position-absolute">
              تذكرة رقم 45 <span class="ticket-upper_text">.pdf</span>
            </div>
            <div class="ticket-lower position-absolute">
              <span class="ticket-lower_text1">9mb</span><span class="ticket-lower_text2">.</span><span class="ticket-lower_text3">pdf</span>
            </div>
            <div class="ticket-dn-icon position-absolute">
              <img src="assets/Images/Group 1000010390.png" alt="download icon">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th class="table-num" scope="row">1</th>
        <td>
          <div class="w-100 h-100 position-relative">
          <div class="user-img position-absolute">
            <img class="w-100" src="assets/Images/Image-300.png" alt="client photo">
          </div>
          </div>
        </td>
        <td>
          <div class="user-upper_cap ">محمد غريب</div>
          <div class="user-lower_cap ">0123456789</div>
        </td>

        <td class="en-font">c-102</td>
        <td class="en-font">$30</td>
        <td class="ar-font">سينما مصر , <span class="td-hide"><span class="td-hide">مول العرب , برج الأطنان , سرايا القبة</span></span>
          <span class="toltip">
            <span class="toltip_text">صيدناوي مول برج العرب</span>
            <span>...</span>
          </span>
        </td>
        <td class="en-font">1</td>
        <td class="ar-font">مرة واحدة</td>
        <td>
          <div class="position-relative w-100 h-100">
            <div class="ticket-icon position-absolute">
              <img class="w-100" src="assets/Images/ticket-2.png" alt="ticket icon">
            </div>
            <div class="ticket-upper position-absolute">
              تذكرة رقم 45 <span class="ticket-upper_text">.pdf</span>
            </div>
            <div class="ticket-lower position-absolute">
              <span class="ticket-lower_text1">9mb</span><span class="ticket-lower_text2">.</span><span class="ticket-lower_text3">pdf</span>
            </div>
            <div class="ticket-dn-icon position-absolute">
              <img src="assets/Images/Group 1000010390.png" alt="download icon">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th class="table-num" scope="row">3</th>
        <td>
          <div class="w-100 h-100 position-relative">
            <div class="user-img position-absolute">
              <img class="w-100" src="assets/Images/Image-30.png" alt="client photo">
            </div>

            </div>
        </td>
        <td>
          <div class="user-upper_cap ">محمد غريب</div>
          <div class="user-lower_cap ">0123456789</div>
        </td>

        <td class="en-font">c-103</td>
        <td class="en-font">$45</td>
        <td class="ar-font">سينما مصر , <span class="td-hide">مول العرب , برج الأطنان , سرايا القبة</span>
          <span class="toltip">
            <span class="toltip_text">صيدناوي مول برج العرب</span>
            <span>...</span>
          </span>
        </td>
        <td class="en-font">1</td>
        <td class="ar-font">مرة واحدة</td>
        <td>
          <div class="position-relative w-100 h-100">
            <div class="ticket-icon position-absolute">
              <img class="w-100" src="assets/Images/ticket-2.png" alt="ticket icon">
            </div>
            <div class="ticket-upper position-absolute">
              تذكرة رقم 45 <span class="ticket-upper_text">.pdf</span>
            </div>
            <div class="ticket-lower position-absolute">
              <span class="ticket-lower_text1">9mb</span><span class="ticket-lower_text2">.</span><span class="ticket-lower_text3">pdf</span>
            </div>
            <div class="ticket-dn-icon position-absolute">
              <img src="assets/Images/Group 1000010390.png" alt="download icon">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th class="table-num" scope="row">4</th>
        <td>
          <div class="w-100 h-100 position-relative">
            <div class="user-img fourth-user position-absolute">
            </div>
            <div class="user-img_text position-absolute">Ma</div>

            </div>
        </td>
        <td>
          <div class="user-upper_cap ">محمد غريب</div>
          <div class="user-lower_cap ">0123456789</div>
        </td>

        <td class="en-font">c-104</td>
        <td class="en-font">$54</td>
        <td class="ar-font">سينما مصر , <span class="td-hide">مول العرب , برج الأطنان , سرايا القبة</span>
          <span class="toltip">
            <span class="toltip_text">صيدناوي مول برج العرب</span>
            <span>...</span>
          </span>
        </td>
        <td class="en-font">1</td>
        <td class="ar-font">مرة واحدة</td>
        <td>
          <div class="position-relative w-100 h-100">
            <div class="ticket-icon position-absolute">
              <img class="w-100" src="assets/Images/ticket-2.png" alt="ticket icon">
            </div>
            <div class="ticket-upper position-absolute">
              تذكرة رقم 45 <span class="ticket-upper_text">.pdf</span>
            </div>
            <div class="ticket-lower position-absolute">
              <span class="ticket-lower_text1">9mb</span><span class="ticket-lower_text2">.</span><span class="ticket-lower_text3">pdf</span>
            </div>
            <div class="ticket-dn-icon position-absolute">
              <img src="assets/Images/Group 1000010390.png" alt="download icon">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="2 ">
          <span  class="ar-font" >عرض</span>
          <span class="d-inline-block p-1 mx-2 table-footer_menu" >
            <img src="assets/Images/Chevron Down.png" alt="">
            20
          </span>
          <span class="ar-font" > من اصل  250</span>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="footer-list" colspan="2">
          <ul class="d-flex">
            <li>
              <img src="assets/Images/arrows.png" alt="">
            </li>
            <li class="colored-num">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>
              <img src="assets/Images/arrowws.png" alt="">
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
