<div class="ticket position-relative ">
  <img class="circle-bg-right" src="assets/Images/circle.png" alt="">
  <img class="circle-bg-left" src="assets/Images/circle2.png" alt="">
  <div class="ticket-line">
    <img src="assets/Images/Vector 9999.png" alt="">
  </div>
  <div class="ticket-header">
    عرض التذكرة الخاصة بالفيلم
  </div>
  <div class="trash">
    <img src="assets/Images/trash.png" alt="">
    <span class="trash-tooltip text-center">
      حذف
    </span>
  </div>
  <div class="ticket-link">
    <img src="assets/Images/Rectangle 34624602.png" alt="">
    <div class="ticket-link-text">
      <img src="assets/Images/Group.png" alt="">
       <span>www.tazkarty.com/473847</span>
    </div>
  </div>
    <div class="ticket-expire">
      فعال حتي 15 يوليو 2023
    </div>
    <div class="ticket-code">
      <img src="assets/Images/qr_img 1.png" alt="">
    </div>
    <div class="offer-name">
     <p>خصم</p>
    </div>
    <div class="offer-precentage">
      <p>25%</p>
    </div>
    <div class="ticket-sharing text-center">
      <p>مشاركة
        <img src="assets/Images/send-2.png" alt="">
      </p>

    </div>
</div>
